/* 
    Popcorn -
    CSS for the main site
*/

/* set the background color to black */
body{
    background-color: #0F0E0E;
}

/* download inter font family (created using ChatGPT) */
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2'),
         url('fonts/Inter-Regular.woff') format('woff');
    /* Add more src lines for different font weights or styles if needed */
    font-weight: normal;
    font-style: normal;
}

/* set the font color of the main header to red */
h1{
    color: #DC5148;
    font-family: 'Inter', Arial, sans-serif;
    /* font size to 50.19px */
    font-size: 50.19px;
    /* center the text */
    text-align: center;
}